body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.body-main{
    position: relative;
    width: 100%;
}

.nav-bar{
    background-color:#f76c6c;
    position: sticky;
    top: 0;
    display: flex;
    height: 8vh;
    min-height: 80px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

#nav-logo{
    margin: 10px;
}

#nav-logo img{
    height: 100%;
    width: auto;
    max-height: 60px;
}

nav{
    display: flex;
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0;
}

nav li:hover{
    background-color:#dd6464;
}

nav a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    /* for text border */
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.nav-content{
    position: absolute;
    top: 80px;
    overflow: hidden;
    background-color: #f76c6c;
    flex-direction: column;
    max-height: 0;
}

#project-sub {
    flex-direction: column;
}

.nav-content a {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-content a:hover {
    text-decoration: underline;
}


.nav-item:focus ~ .nav-content{
    max-height: 400px;
    transition: max-height 0.2s ease-in;
    -webkit-transition: max-height 0.2s ease-in;
    -moz-transition: max-height 0.2s ease-in;
}

.nav-content:hover {
    max-height: 400px; 
}

/* @media only screen and (max-width: 600px) {
    .nav-bar{
        flex-direction: column;
        height: fit-content;
        padding: 0;
        align-items: center;
        position: relative;
    }

    #nav-logo{
        display: inherit;
        border-bottom: 2px solid;
        width: 100%;
        justify-content: center;
    }

    
    #nav-buttons{
        width: 100%;
        line-height: 40px;
        display: inherit;
        justify-content: center;
    }

    nav {
        width: 100%;
    }

    nav ul{ 
        justify-content: center;
        width: 100%;
    }
    nav li:hover{
        background-color: inherit;
    }
    nav li>a {
        display: inherit;
        justify-content: center;
        font-size: 1.15rem;
        padding: 0 8px 0 8px;
    }

    .nav-content{
        top: 125px;
    }
    
} */