#details-part{
    height: 100vh;
}

#left-div{
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#left-div > #my-name{
    color: #24305e;
    font-size: 76px;
    margin-top: 25vh;
    margin-left: 10vw;
}

#left-div > #about-me{
    color: #374785;
    font-size: 23px;
    text-align: justify;
    width: 70%;
    margin-left: 10vw;

}


#right-div{
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#right-div-sub{
    margin-right: 12vw;
    margin-top: 5vh;
}

.traits{
    margin-top: 40px;
}

.trait{
    color: #24305e;
    font-size: 32px;
}

.trait > p > i{
    width: 60px;
}

#image-container{
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
}


#image-container img{
    width: 100%;
    height: auto;
    margin-top: -25px;
    object-fit: cover;
}
